.current-main {
}

.main-weatherCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.root-current-card {
    margin: 20px;
}

.root-weatherCard {
   width: 155px;
   /* height: 300px;  */
   margin: 20px;
}